
@{
    ViewBag.Title = "ToDoList";
    Layout = "~/Views/Shared/_WriterLayout.cshtml";
}

<p>#1 profilim</p>
<p>tüm başlıklarda paging</p>
<p>mesajlarda session</p>
<p>oturumun yönetiminin mimariye taşınması</p>
<p>token kullanımı</p>

